/* ROCK, PAPER, SCISSORS */

* {
  font-family: 'Hind Siliguri', sans-serif; 
  color: #ffffff;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #c76af1;
  display: flex;
}

.home, .home__box, .left, .right, .fighter, .fighter__mode, .fighter__selected {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  height: 100vh;
  width: 70vw;
}

h1 {
  font-size: 7em;
  margin-bottom: -.3em;
}

h2, .fighter__winner {
  font-size: 2.5em;
  text-align: center;
  width: 20em;
  margin: 0;
  font-weight: 300;
}

.home__selection {
  height: 26vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2em;
  animation: fade-in .5s ease-in;
}

.home__box {
  height: 19vh;
  width: 15vw;
  border-radius: 1em;
  background-color: #ab49da;
  opacity: 0.8;
  transition: .2s;
  cursor: pointer;
}

.home__box:hover {
  opacity: 1;
  font-size: 1.1em;
}

.home__classic:hover {
  height: 20vh;
  width: 16vw;
}

.home__advanced {
  height: 24vh;
}

.home__advanced:hover {
  height: 25vh;
  width: 16vw;
}

.home__option {
  font-size: 1.8em;
  margin-bottom: .5em;
}

.home__rules {
  font-size: 1.3em;
  margin: 0;
}

.left, .right {
  height: 100vh;
  width: 15vw;
  background-color: #cd82f0;
  font-size: 2.5em;
}

.left__emoji, .right__emoji {
  font-size: 2em;
  margin-bottom: 0;
}

.left__human, .right__computer {
  margin-top: 0;
}

.fighter {
  width: 100%;
  height: 100%;
  font-size: 16em;
}

.fighter__mode {
  width: 100%;
}

.fighter__winner {
font-size: .2em;
text-align: center;
width: 20em;
margin: 4em;
font-weight: 300;
}

.fighter__classic, .fighter__advanced, .fighter__showdown {
  width: 80%;
  height: 37%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  animation: fade-in .5s ease-in;
}

.fighter__fighters {
  margin: 0;
  cursor: pointer;
  transition: .1s ease-in;
}

.fighter__fighters:hover {
  font-size: 1.05em;
}

.fighter__selected {
  margin: .3em 0 0 0;
}

.fighter__player, .fighter__computer {
  margin: 0;
  font-size: 1.05em;
  animation: fade-in .5s ease-in;
}

.fighter__icon {
  font-size: .3em;
  margin: -.5em 0 0 0;
  animation: fade-in .5s ease-in;
}

.left__home {
  width: 60%;
  background-color: #ab49da;
  border: 0; 
  opacity: 0.8;
  transition: .2s;
  cursor: pointer;
}

.left__home:hover {
  opacity: 1;
  font-size: .7em;
} 

/* MODS */

.home--hidden, .fighter--hidden, .left--hidden {
  display: none;
}

.fighter--margin {
  margin-top: .5em;
}

/* ANIMATION */


@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 100%} 
}